body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

/**/

.AppNavigation{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.AppNavigation__links{
  padding: 3px 20px;
  background: #eee;
  display: block;
  margin-right: 5px;

  color: #5ed9fd;
}
.AppNavigation__links.active{
  background: #ffcc00;
  color: red;
}
.AppNavigation__links:hover{
  background: #ffcc00;
  color: red;
}

.wv{
  width: 100wv;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
